//---------------------------------------------------------------------------
//
// Name:        Codigo CesarApp.rc
// Author:      PerozoToyo
// Created:     07/05/2017 11:29:17
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
